body{
	background: linear-gradient(-45deg,#ceceff,#ffc6c6);
	display: flex;
	flex-wrap: wrap;
}

.box{
	text-align: center;
	width: 60%;
	border-width: 2px;
	border-style: solid;
	border-color: #5650ff82;
	box-shadow: -2px 7px 15px #ee69df63;
	margin: 2%;
	border-radius: 30px;
	padding: 10px;
	background: linear-gradient(-45deg,#fce,#bcbaffb2);
	color: black;
}
.box:nth-of-type(2){
	width: 25%;
}
.box:nth-of-type(3){
	width: 43%;
}
.box:nth-of-type(4){
	width: 43%;
}
.box:nth-of-type(5){
	width: 60%;
}
.box:nth-of-type(6){
	width: 30%;
}
.box :hover{
}
.box h3{
}
.box p{
}
