body{
	background: #ddf9dd;
	display: flex;
	flex-wrap: wrap;
	/*margin: 5%;*/
	margin: 20px;
	align-items: center;
}

.box{
	width: 60%;
/*	border-right-width: 5px;
border-right-style: solid;
border-top-width: 5px;
border-top-style: solid;
border-left-width: 5px;
border-left-style: solid;
border-bottom-width: 5px;
border-bottom-style: solid;*/
	border: 5px solid transparent;
	margin: 2%;
	border-radius: 30px;
	padding: 10px;
	background: #e7f9dd;
	color: #3b1060;

	&:before{
		background: linear-gradient(217deg,rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0) 70.71%);
    		z-index:-1;
		margin: -5px;
	}

}
.box:nth-of-type(2){
	width: 25%;
}
.box:nth-of-type(3){
	width: 43%;
}
.box:nth-of-type(4){
	width: 43%;
}
.box:nth-of-type(5){
	width: 60%;
}
.box:nth-of-type(6){
	width: 30%;
}
.box :hover{
}
.box h3{
}
.box p{
}
