@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rubik:wght@300&display=swap');

body{
	background: linear-gradient(45deg,#f7f7f7,#d0d0d0);
}
#container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10,1fr);
}

.box{
	border-width: 2px;
	border-style: solid;
	border-color: #5650ff82;
	box-shadow: -2px 7px 15px #ee69df63;
	margin: 20px;
	border-radius: 30px;
	padding: 10px;
	background: linear-gradient(-45deg,#fce,#bcbaffb2);
	color: black;
}
.box:first-of-type{
	grid-column:1/8;
	grid-row:1;
}
.box:nth-of-type(2){
	grid-column: 8/11;
	grid-row: 1;
}
.box:nth-of-type(3){
	grid-column: 1/6;
	grid-row: 2;
}
.box:nth-of-type(4){
	grid-column: 6/11;
	grid-row: 2;
}
.box:nth-of-type(5){
	grid-column:1/7;
	grid-row:3;
}
.box:nth-of-type(6){
	grid-column:7/11;
	grid-row:3;
}
.box:hover{
	border-width:4px;
	box-shadow: 0px 2px 15px #ee69df63;
}
.box h2{
	color: #6f2b64;
	font-family: 'Inter', sans-serif;
	text-align:center;
}
.content{
	font-family: 'Rubik', sans-serif;
	padding:10px;
}
.content li{
	margin-bottom:5px;
}
.icons{
	height:1.5em;
	margin-left: 7.5px;
	margin-right: 7.5px;
}
