@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@300&family=Rubik:wght@300&display=swap');

#bg{
	background: linear-gradient(#ececec,#f7f7f7);
	position: fixed;
	z-index: -1;
	margin: -10px -1px -1px -10px;
	width: 100%;
	height: 100%;
}

header{
	background: linear-gradient(45deg,#e7c5e4,#d1c7f5);
	margin: 5px 10px 0px 10px;
	border: 0.7px solid #a793ff; 
	border-radius: 15px;
	text-align: center;
	padding: 3px;
}
header h3{
	color: #6f2b64;
	font-family: Inter, sans-serif;
}
#container{
	width: 100%;
}

.box{
	border-width: 2px;
	border-style: solid;
	border-color: #5650ff82;
	box-shadow: -2px 7px 15px #ee69df63;
	margin: 20px;
	border-radius: 30px;
	padding: 5px;
	background: linear-gradient(-45deg,#fce,#bcbaffb2);
	color: black;
}
.box:hover{
	box-shadow: 0px 2px 15px #ee69df63;
	border-width: 4px;
	padding:6px 2px 4px 4px;
}
.box h2{
	color: #6f2b64;
	font-family: 'Inter', sans-serif;
	text-align:center;
}

.content{
	position: relative;
	font-family: 'Rubik', sans-serif;
	padding:25px;
}
.content li{
	margin-bottom:5px;
}

.icons{
	height:1.5em;
	margin: 0px 7.5px 0px 7.5px;
}

footer{
	font-family: 'IBM Plex Sans', sans-serif;
        background: #111;
        margin: 10px -10px -10px -10px;
        padding: 25px;
        text-align: center;
}
footer span{
        margin-left: 3%;
        margin-right: 3%;
        color: #555;
}
footer a{
        font-style: normal;
        text-decoration: none;
        color: #555;
}
footer a:hover{
        text-decoration: underline;
}

@media (orientation: landscape){
	#container{
		display: grid;
		grid-template-columns: repeat(10,1fr);
	}

	.box:first-of-type{
		grid-column:1/8;
		grid-row:1;
	}
	.box:nth-of-type(2){
		grid-column: 8/11;
		grid-row: 1;
	}
	.box:nth-of-type(3){
		grid-column: 1/6;
		grid-row: 2;
	}
	.box:nth-of-type(4){
		grid-column: 6/11;
		grid-row: 2;
	}
	.box:nth-of-type(5){
		grid-column:1/7;
		grid-row:3;
	}
	.box:nth-of-type(6){
		grid-column:7/11;
		grid-row:3;
	}
}
